<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>私の思い出</title>
<meta name="description" content="私の思い出 - 思い出をウェブ上で管理・振り返るサービスです。">
<meta property="og:title" content="私の思い出 - 思い出をウェブ上で管理・振り返るサービス-">
<meta property="og:type" content="website">
<meta property="og:url" content="#">
<meta property="og:image" content="images/common/ogimage.png">
<meta property="og:site_name" content="私の思い出 - 思い出をウェブ上で管理・振り返るサービス-">
<meta property="og:description" content="私の思い出 - 思い出をウェブ上で管理・振り返るサービスです。">
<meta name="format-detection" content="telephone=no">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/reset.css">
<link rel="stylesheet" href="./css/style.css">
</head>
<body>
	
	<header class="header">
	<div class="header_title">
	<div class="pc-inner">My-Memory</div>
	</div>
	<img class="absolute sp" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252478/%E3%82%A2%E3%82%BB%E3%83%83%E3%83%88_10_dcvl7s.png" alt="">
	</header>
	
<!--pc -->
	<div class="flote-left pc">
		<ul>
			<li class="margin11"><img src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252475/_i_icon_12007_icon_120070_16_dp7iyt.png" alt=""><span class="margin12">ホーム</span></li>
			<li class="margin11"><a href="../home/index.html"><img src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252475/_i_icon_12955_icon_129550_16_xvjcny.png" alt=""><span class="margin12">メモリー</span></a></li>
			<li class="margin11"><a href="https://rdlp.jp/archives/otherdesign/lp/12697"><img class="size25" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252471/_i_icon_00041_icon_000410_16_utpf5l.png" alt=""><span class="margin12">検索</span></a></li>
			<li><a href="../template/index.html"><div class="normal-box2"><p>ページを作成</p></div></a></li>
		</ul>
	</div>	
<!--pc -->
	
<main class="pc-inner display_flex">
	<div class="relative">
		
		<div class="top-title">結婚式</div>
		
		<div class="flex2 text_center">
			<div class="top-contents1">
				<a href="../wedding1/index.html"><img class="image-size" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252477/couple_hlguhw.png" alt=""></a>
				<div class="text2">2人のプロフィール</div>
			</div>	

			<div class="top-contents2">
				<a href="../wedding2/index.html"><img class="image-size2" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252470/header1_brrywn.jpg" alt=""></a>
				<div class="text2">結婚式ハイライト</div>
			</div>	
		</div>
	
	<div class="top-title2">旅行</div>
		
		<div class="flex2 text_center">
			<div class="top-contents1">
				<img class="image-size" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252477/3534072_m_blvssk.jpg" alt="">
				<div class="text2">ハワイ/2019.9.12-18</div>
			</div>	

			<div class="top-contents2">
				<img class="image-size" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252473/5132482_m_pe0rey.jpg" alt="">
				<div class="text2">イタリア/2019.4.30-5/5</div>
			</div>	
		</div>
		
	<div class="top-title2">子どもの成長</div>
		
		<div class="flex2 text_center">
			<div class="top-contents1">
				<img class="image-size" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633760851/22008803_m_lx7lri.jpg" alt="">
				<div class="text2">2019.9</div>
			</div>	

			<div class="top-contents2">
				<img class="image-size" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252470/4969659_m_qnpgc7.jpg" alt="">
				<div class="text2">2019.10</div>
			</div>	
		</div>	
		
	<div class="top-title2">大学時代</div>
	
		
	<div class="content2 sp">
	<div class="inner">
		<img src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252475/_i_icon_12955_icon_129550_16_xvjcny.png" alt="">
		<a href="../template/index.html"><img src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252477/2_i_icon_00105_icon_001050_256_ux53zp.png" alt=""></a>
		<a href="https://rdlp.jp/archives/otherdesign/lp/12697"><img  class="size25" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252476/_i_icon_00041_icon_000410_32_dbuzbn.png" alt=""></a>
		<img src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252475/_i_icon_12007_icon_120070_16_dp7iyt.png" alt="">
	</div>
	</div>	

  <%= simple_form_for(album) do |f| %>
  <!-- [...] -->
  <%= f.input :photo, as: :file %>
  <!-- [...] -->
<% end %>

</div>
		
</main>
<!--pc -->
<div class="flote-right pc">
	<div class="margin11">カテゴリー</div>
	<div><img class="display_block margin11" src="https://res.cloudinary.com/dqea0llpw/image/upload/v1633252478/%E3%82%A2%E3%82%BB%E3%83%83%E3%83%88_10_dcvl7s.png" alt=""></div>
</div>
<!--pc -->
</body>
</html>